.a1{background-color:        #ffffff !important;border-color: #ffffff !important;}
.a1 a, .a1 a:hover{color:    #6B698F !important;}
.b1{background-color:        #4674bf !important;}
.button1{border-color: #6B698F;border-bottom-color: #4674bf;color:  #000000 !important;background-color: #6B698F;}


.a2{background-color:        #a5a596  !important;border-color: #a5a596  !important;}
.a2 a, .a2 a:hover{color:    #222222  !important;}
.b2{background-color:        #aaaaaa  !important;}
.button2{border-color: #222222;border-bottom-color: #aaaaaa;color:  #d8bdab !important;background-color: #222222;}


.a3{background-color:        #E6E6E6  !important;border-color: #E6E6E6  !important}
.a3 a, .a3 a:hover{color:    #000000  !important;}
.b3{background-color:        #293846  !important;}
.button3{border-color: #383941;border-bottom-color: #293846;color:  #FCFAF0 !important;background-color: #383941;}


.a4{background-color:        #e8ddde  !important;border-color: #e8ddde  !important;}
.a4 a, .a4 a:hover{color:    #c82927  !important;}
.b4{background-color:        #131313  !important;}
.button4{border-color: #c82927;border-bottom-color: #131313;color:  #e8ddde !important;background-color: #c82927;}


.a5{background-color:        #120f0d  !important;border-color: #120f0d  !important;}
.a5 a, .a5 a:hover{color:    #cbb044  !important;}
.b5{background-color:        #f1f4f3  !important;}
.button5{border-color: #cbb044;border-bottom-color: #f1f4f3;color:  #120f0d !important;background-color: #cbb044;}


.a6{background-color:        #B23244  !important;border-color: #B23244  !important;}
.a6 a, .a6 a:hover{color:    #13100C  !important;}
.b6{background-color:        #A4A693  !important;}
.button6{border-color: #13100C;border-bottom-color: #A4A693;color:  #74746E !important;background-color: #13100C;}


.a7{background-color:        #111321  !important;border-color: #111321  !important;}
.a7 a, .a7 a:hover{color:    #A0C0CC  !important;}
.b7{background-color:        #40719B  !important;}
.button7{border-color: #A0C0CC;border-bottom-color: #40719B;color:  #111321 !important;background-color: #A0C0CC;}


.a8{background-color:        #D9D8D6  !important;border-color: #D9D8D6  !important;}
.a8 a, .a8 a:hover{color:    #887D78  !important;}
.b8{background-color:        #362A25  !important;}
.button8{border-color: #887D78;border-bottom-color: #362A25;color:  #D9D8D6 !important;background-color: #887D78;}


.a9{background-color:        #f6f6ed  !important;border-color: #f6f6ed  !important;}
.a9 a, .a9 a:hover{color:    #93abc2  !important;}
.b9{background-color:        #979799  !important;}
.button9{border-color: #93abc2;border-bottom-color: #979799;color:  #f6f6ed !important;background-color: #93abc2;}


.a10{background-color:       #ffffff  !important;border-color: #ffffff  !important;}
.a10 a, .a10 a:hover{color:  #5F5F71  !important;}
.b10{background-color:       #EACEBE  !important;}
.button10{border-color: #5F5F71;border-bottom-color: #EACEBE;color:  #90D5CA !important;background-color: #5F5F71;}


.a11{background-color:       #faf0c8  !important;border-color: #faf0c8  !important;}
.a11 a, .a11 a:hover{color:  #78786E  !important;}
.b11{background-color:       #D7D6C6  !important;}
.button11{border-color: #78786E;border-bottom-color: #D7D6C6;color:  #21221F !important;background-color: #78786E;}


.a12{background-color:       #fdfffe  !important;border-color: #fdfffe  !important;}
.a12 a, .a12 a:hover{color:  #f29076  !important;}
.b12{background-color:       #accdc1  !important;}
.button12{border-color: #f29076;border-bottom-color: #accdc1;color:  #fdfffe !important;background-color: #f29076;}


.a13{background-color:       #fadca7  !important;border-color: #fadca7  !important;}
.a13 a, .a13 a:hover{color:  #54383B  !important;}
.b13{background-color:       #DEAC8B  !important;}
.button13{border-color: #54383B;border-bottom-color: #DEAC8B;color:  #F6D7BF !important;background-color: #54383B;}


.a14{background-color:       #c5beae  !important;border-color: #c5beae  !important;}
.a14 a, .a14 a:hover{color:  #464868  !important;}
.b14{background-color:       #49423f  !important;}
.button14{border-color: #464868;border-bottom-color: #49423f;color:  #d1bdb5 !important;background-color: #464868;}


.a15{background-color:       #fa6e10  !important;border-color: #fa6e10  !important;}
.a15 a, .a15 a:hover{color:  #2B2F3C  !important;}
.b15{background-color:       #FCF3EF  !important;}
.button15{border-color: #2B2F3C ;border-bottom-color: #FCF3EF;color:  #CCBDBA !important;background-color: #2B2F3C;}


.a16{background-color:       #f9f8f6  !important;border-color: #f9f8f6  !important;}
.a16 a, .a16 a:hover{color:  #043a6b  !important;}
.b16{background-color:       #fed6cc  !important;}
.button16{border-color: #043a6b;border-bottom-color: #fed6cc;color:  #f9f8f6 !important;background-color: #043a6b;}


.a17{background-color:       #003a61  !important;border-color: #003a61  !important;}
.a17 a, .a17 a:hover{color:  #E6E1D3  !important;}
.b17{background-color:       #555068  !important;}
.button17{border-color: #E6E1D3;border-bottom-color: #555068;color:  #6ABEE2 !important;background-color: #E6E1D3;}


.a18{background-color:       #f4ece3  !important;border-color: #f4ece3  !important;}
.a18 a, .a18 a:hover{color:  #030000  !important;}
.b18{background-color:       #f61b0c  !important;}
.button18{border-color: #030000;border-bottom-color: #f61b0c;color:  #f4ece3 !important;background-color: #030000;}
`

.a19{background-color:       #ffffff  !important;border-color: #ffffff  !important;}
.a19 a, .a19 a:hover{color:  #1784f9  !important;}
.b19{background-color:       #001231  !important;}
.button19{border-color: #1784f9;border-bottom-color: #001231;color:  #000000 !important;background-color: #1784f9;}


.a20{background-color:       #FAD66E  !important;border-color: #FAD66E  !important;}
.a20 a, .a20 a:hover{color:  #c63239  !important;}
.b20{background-color:       #2e2d38  !important;}
.button20{border-color: #c63239;border-bottom-color: #2e2d38;color:  #000000 !important;background-color: #c63239;}





